$icomoon-font-family: "mood-tune" !default;
$icomoon-font-path: "fonts" !default;

$icon-piano: "\e93f";
$icon-bright: "\e935";
$icon-clook: "\e936";
$icon-cross: "\e937";
$icon-dance: "\e938";
$icon-demon: "\e939";
$icon-heavy: "\e93a";
$icon-leaf: "\e93b";
$icon-sheep: "\e93c";
$icon-sword: "\e93d";
$icon-voice: "\e93e";
$icon-acoustic: "\e900";
$icon-aggresive: "\e901";
$icon-angry: "\e902";
$icon-arrow-down: "\e903";
$icon-arrow-left: "\e904";
$icon-arrow-right: "\e905";
$icon-arrow-turn-down: "\e906";
$icon-arrow-turn-up: "\e907";
$icon-arrow-up: "\e908";
$icon-calm: "\e909";
$icon-cookie: "\e90a";
$icon-cookie-filled: "\e90b";
$icon-cookie-full: "\e90c";
$icon-cookie-full-filled: "\e90d";
$icon-cry: "\e90e";
$icon-dislike: "\e90f";
$icon-dislike-filled: "\e910";
$icon-dizzy: "\e911";
$icon-electronic: "\e912";
$icon-funny: "\e913";
$icon-grin-wink: "\e914";
$icon-happy: "\e915";
$icon-headphones: "\e916";
$icon-heart: "\e917";
$icon-heart-filled: "\e918";
$icon-info: "\e919";
$icon-info-filled: "\e91a";
$icon-joke: "\e91b";
$icon-kiss: "\e91c";
$icon-laugh: "\e91d";
$icon-like: "\e91e";
$icon-like-filled: "\e91f";
$icon-love: "\e920";
$icon-meh: "\e921";
$icon-music: "\e922";
$icon-party: "\e923";
$icon-play-otlined: "\e924";
$icon-poo: "\e925";
$icon-question: "\e926";
$icon-question-filled: "\e927";
$icon-rocket: "\e928";
$icon-sad: "\e929";
$icon-skull: "\e92a";
$icon-sliders: "\e92b";
$icon-star: "\e92c";
$icon-star-filled: "\e92d";
$icon-surprise: "\e92e";
$icon-tired: "\e92f";
$icon-upbeat: "\e930";
$icon-user: "\e931";
$icon-user-filled: "\e932";
$icon-user-outlined: "\e933";
$icon-user-outlined-filled: "\e934";

