@use '../../styles/colors' as *;

.error-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background: $redError;
    color: $pureWhite;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    &__close {
        background: $pureWhite;
        color: $redError;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        font-weight: bold;
        border-radius: 4px;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background: $darkGray;
        }
    }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
