$darkGray: #191414;
$pureWhite: #FFFFFF;
$purpleVibe: #822BBE;
$pinkBlush: #FB6FAC;
$orangeSunset: #E39E3D;
$yellowGlow: #FDE551;
$limePop: #CDF567;

$irisGradient: linear-gradient(90deg, rgba(130,43,190,1) 0%, rgba(251,111,172,1) 39%, rgba(227,158,61,1) 67%, rgba(253,229,81,1) 83%, rgba(205,245,103,1) 100%);