$pureBlack: #000000;
$darkGray: #141414;
$mediumGray: #2D2D2D;
$midLightGray: #444444;
$lightGray: #DEDEDE;
$pureWhite: #FFFFFF;
$purpleVibe: #822BBE;
$pinkBlush: #FB6FAC;
$orangeSunset: #E39E3D;
$yellowGlow: #FDE551;
$limePop: #CDF567;
$limePop-hover: #A3C351;

$redError: #CD2F2F;
$greenSuccess: #1DB954;
$greenSuccess-hover: #0c8546;

$backgroundCardColor: rgba(0, 0, 0, 0.75);

$irisGradient: linear-gradient(90deg, rgba(130,43,190,1) 0%, rgba(251,111,172,1) 39%, rgba(227,158,61,1) 67%, rgba(253,229,81,1) 83%, rgba(205,245,103,1) 100%);

$overlayBoxShadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
$floatingBoxShadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
$textShadow: 4px 8px 12px rgba(0, 0, 0, 0.7);