@font-face {
    font-family: 'Avenir Next';
    src: url('/fonts/avenir-next-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Avenir Next Bold';
  src: url('/fonts/avenir-next-cyr-bold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
