@use './colors' as *;
@use './fonts' as *;
@use './mixins' as *;
@use './reset' as *;

body {
    font-family: 'Avenir Next', sans-serif;
    background-color: $darkGray;
    color: $pureWhite;
    min-height: 100vh;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}