// Breakpoints
$breakpoints: (
  "tablet": 768px,
  "desktop": 1024px,
  "desktop-xl": 1240px 
);

@mixin tablet {
  @media (min-width: map-get($breakpoints, "tablet")) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: map-get($breakpoints, "desktop")) {
    @content;
  }
}

@mixin desktop-xl {
  @media (min-width: map-get($breakpoints, "desktop-xl")) {
    @content;
  }
}

// Container
@mixin container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;

    @include tablet {
      padding: 60px 20px;
    }

    @include desktop-xl {
      padding: 60px 0;
    }
}