@use "../../styles/colors" as *;

.language-switcher {
    display: flex;
    margin-right: 20px;
  }
  
  .language-switcher__btn {
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    background: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    color: $pureWhite;
    transition: all 0.3s ease-in-out;
  
    &:hover {
      color: $limePop;
      scale: 1.06;
    }
  }
  
  .language-switcher__btn.selected {
    background-color: $mediumGray;
    border-radius: 8px;

    &:hover {
        background-color: $midLightGray;
    }
  }
  