@use '../../styles/mixins' as *;

.background {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
    
    .background-line {
        position: absolute;
        max-width: 100%;

        &.green-line {
            bottom: 0;
            right: 0;
        }

        &.pink-line {
            top: 0;
        }

        &.yellow-line {
            top: -70%;

            @include desktop {
                top: -40%;
            }
        }
    }
}
